//Header customization
.header {
  font-family: Garamond, serif;
  background-color: #1f1e1e;
    width: 100%;
    margin: 0;
    padding: 0 px;
    color:white;
    font-size: 30px;
    border-bottom: 10px solid #b30538;
    
    h2 {
      margin: 0;
      padding: 0;
    }
  }


  